flows.json
[
    {
        "id": "8cf5e70e77b84c28",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83dc7fe0056586d1",
        "type": "mqtt in",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "72fd3908a8f7b9a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "c4f6cb37dbfb8144"
            ]
        ]
    },
    {
        "id": "c4f6cb37dbfb8144",
        "type": "json",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "caa2814556aba6fb",
                "cec821b3b6abca4b",
                "ecd99a872ed46d69"
            ]
        ]
    },
    {
        "id": "53386612e1921f8b",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Temperature Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "ace006f3bbf8dc85",
        "type": "sqlite",
        "z": "8cf5e70e77b84c28",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 770,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "caa2814556aba6fb",
        "type": "function",
        "z": "8cf5e70e77b84c28",
        "name": "function 1",
        "func": "let raw = msg.payload;\nlet data;\n\ntry {\n  data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n} catch (err) {\n  node.warn(\"Failed to parse JSON: \" + err.message);\n  return null;\n}\n\nif (typeof data !== 'object') {\n  node.warn(\"Payload is not an object\");\n  return null;\n}\n\nreturn [\n  { payload: data.temp_in ?? \"?\" },\n  { payload: data.humidity ?? \"?\" },\n  { payload: data.lux ?? \"?\" },\n  { payload: data.motion === true ? \"Yes\" : data.motion === false ? \"No\" : \"?\" },\n  { payload: data.temp_out ?? \"?\" }\n];\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 400,
        "wires": [
            [
                "332ac59c480cd5ee",
                "20d51963b8789dca",
                "53386612e1921f8b",
                "27d9cee0bd051211"
            ],
            [
                "817e8a8080c78321",
                "caab2e5d2ad10bc1",
                "17a5eafc3036ae92",
                "460cff35142da3cb"
            ],
            [
                "ac6a2e52af4d9309",
                "20060f6af648c28e",
                "c532abb34cb284a1",
                "81edbbc4ae65d97b"
            ],
            [
                "3da604fe95730434",
                "5a2ddd031881ca14",
                "d2a21f1733e1ff5f"
            ],
            [
                "be56ffe39d6e8224",
                "0c638eb70bcf8c4b",
                "d3e6f6dadb1e7dd2",
                "65e35e1b6b6ffdab"
            ]
        ]
    },
    {
        "id": "332ac59c480cd5ee",
        "type": "ui_gauge",
        "z": "8cf5e70e77b84c28",
        "name": "Temperature Gauge",
        "group": "4e142ca423cd8648",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "817e8a8080c78321",
        "type": "ui_gauge",
        "z": "8cf5e70e77b84c28",
        "name": "Humidity Gauge",
        "group": "a1ed744e3dbaee2f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac6a2e52af4d9309",
        "type": "ui_gauge",
        "z": "8cf5e70e77b84c28",
        "name": "Lux Gauge",
        "group": "214e0d944e18580f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light ",
        "label": "Lux",
        "format": "{{value}} Lux",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 360,
        "wires": []
    },
    {
        "id": "17a5eafc3036ae92",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Humidity Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "c532abb34cb284a1",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Lux Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 400,
        "wires": []
    },
    {
        "id": "20d51963b8789dca",
        "type": "ui_chart",
        "z": "8cf5e70e77b84c28",
        "name": "Temperature Chart",
        "group": "4e142ca423cd8648",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "28",
        "removeOlder": "2",
        "removeOlderPoints": "60",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "caab2e5d2ad10bc1",
        "type": "ui_chart",
        "z": "8cf5e70e77b84c28",
        "name": "Humidity Chart",
        "group": "a1ed744e3dbaee2f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "55",
        "ymax": "90",
        "removeOlder": "2",
        "removeOlderPoints": "60",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "20060f6af648c28e",
        "type": "ui_chart",
        "z": "8cf5e70e77b84c28",
        "name": "Light Chart",
        "group": "214e0d944e18580f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "2",
        "removeOlderPoints": "60",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "401f8489e67ae40a",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/light/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 1600,
        "y": 720,
        "wires": []
    },
    {
        "id": "c2f694b81665c05f",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/window/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 1650,
        "y": 800,
        "wires": []
    },
    {
        "id": "7a7ce5cb5dea7a8a",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/fan/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 1630,
        "y": 940,
        "wires": []
    },
    {
        "id": "d3e6f6dadb1e7dd2",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Temperature Outside Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "0c638eb70bcf8c4b",
        "type": "ui_gauge",
        "z": "8cf5e70e77b84c28",
        "name": "Temperature Outside Gauge",
        "group": "4e142ca423cd8648",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Outside",
        "label": "°C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "be56ffe39d6e8224",
        "type": "ui_chart",
        "z": "8cf5e70e77b84c28",
        "name": "Temperature Outside Chart",
        "group": "4e142ca423cd8648",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Outside History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "28",
        "removeOlder": "2",
        "removeOlderPoints": "60",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3da604fe95730434",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Motion Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "5a2ddd031881ca14",
        "type": "ui_text",
        "z": "8cf5e70e77b84c28",
        "group": "0fdbd48cf33a7514",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Motion Status",
        "label": "Motion Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 500,
        "wires": []
    },
    {
        "id": "27d9cee0bd051211",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "1",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "460cff35142da3cb",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "2",
        "x": 1210,
        "y": 180,
        "wires": []
    },
    {
        "id": "81edbbc4ae65d97b",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "3",
        "x": 1590,
        "y": 280,
        "wires": []
    },
    {
        "id": "65e35e1b6b6ffdab",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "4",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "d2a21f1733e1ff5f",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "5",
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "c12174526d2bc78a",
        "type": "ui_switch",
        "z": "8cf5e70e77b84c28",
        "name": "Light Switch",
        "label": "Light Switch",
        "tooltip": "",
        "group": "2f7c7b5555609c75",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1370,
        "y": 720,
        "wires": [
            [
                "401f8489e67ae40a"
            ]
        ]
    },
    {
        "id": "deb89c4d416da9ac",
        "type": "ui_button",
        "z": "8cf5e70e77b84c28",
        "name": "Window Open Button",
        "group": "9aa7332b30c42642",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Window Open Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OPEN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1400,
        "y": 780,
        "wires": [
            [
                "c2f694b81665c05f"
            ]
        ]
    },
    {
        "id": "054e0e11d0420aa0",
        "type": "ui_button",
        "z": "8cf5e70e77b84c28",
        "name": "Window Close Button",
        "group": "9aa7332b30c42642",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Window Close Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CLOSE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1400,
        "y": 840,
        "wires": [
            [
                "c2f694b81665c05f"
            ]
        ]
    },
    {
        "id": "87820a336ac403e4",
        "type": "ui_button",
        "z": "8cf5e70e77b84c28",
        "name": "Fan On Button",
        "group": "f1339d55e939fc06",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan On Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1380,
        "y": 920,
        "wires": [
            [
                "7a7ce5cb5dea7a8a"
            ]
        ]
    },
    {
        "id": "65df844113b53f92",
        "type": "ui_button",
        "z": "8cf5e70e77b84c28",
        "name": "Fan Off Button",
        "group": "f1339d55e939fc06",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan Off Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1380,
        "y": 980,
        "wires": [
            [
                "7a7ce5cb5dea7a8a"
            ]
        ]
    },
    {
        "id": "cec821b3b6abca4b",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Sensors Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "ecd99a872ed46d69",
        "type": "function",
        "z": "8cf5e70e77b84c28",
        "name": "function 5",
        "func": "let modo = flow.get(\"modo\") || \"auto\";\nif (modo !== \"auto\") return null;\n\nlet d = msg.payload;\nlet now = new Date().getTime();\n\n// === PRESENÇA (com base em movimento recente) ===\nif (d.motion === true) {\n    flow.set(\"presenca\", true);\n    flow.set(\"presenca_timer\", now);\n}\n\nlet tempoUltimoMov = flow.get(\"presenca_timer\") || 0;\nlet tempoDesdeMov = now - tempoUltimoMov;\nlet presenca = tempoDesdeMov <= 30000; // considera presença durante 30s após movimento\n\n// === LÓGICA DE CONTROLO ===\nlet luzCmd = \"OFF\";\nlet fanCmd = \"OFF\";\nlet janelaCmd = \"CLOSE\";\n\n// === LUZ ===\nif (presenca && d.lux < 300) {\n  luzCmd = \"ON\";\n} else {\n  luzCmd = \"OFF\";\n}\n\n// === FAN E JANELA ===\nif (presenca && d.temp_in > 28) {\n  if (d.temp_out >= 18 && d.temp_out <= 24) {\n    janelaCmd = \"OPEN\";\n    fanCmd = \"OFF\";\n  } else {\n    janelaCmd = \"CLOSE\";\n    fanCmd = \"ON\";\n  }\n}\n\nreturn [\n  { payload: luzCmd, topic: \"home/light/set\" },\n  { payload: fanCmd, topic: \"home/fan/set\" },\n  { payload: janelaCmd, topic: \"home/window/set\" }\n];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "4f57de4b63ae78a9",
                "1798aefe51944e4e"
            ],
            [
                "6b19702e6c967387",
                "22c50927f980ae99"
            ],
            [
                "3e45b73ea8447811",
                "6a8a7f92743f7577"
            ]
        ]
    },
    {
        "id": "4f57de4b63ae78a9",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/light/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "3e45b73ea8447811",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/window/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "6b19702e6c967387",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/fan/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "46e99304a74a905b",
        "type": "mqtt in",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "72fd3908a8f7b9a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "ac2f25cebc497a39",
                "683faff7571c2d87"
            ]
        ]
    },
    {
        "id": "ac2f25cebc497a39",
        "type": "function",
        "z": "8cf5e70e77b84c28",
        "name": "function 6",
        "func": "flow.set(\"modo\", msg.payload);\nreturn null;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "cffd797223a49fe6",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "1",
        "x": 810,
        "y": 1580,
        "wires": []
    },
    {
        "id": "01327d79fd046ca8",
        "type": "inject",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "34.5",
        "payloadType": "str",
        "x": 330,
        "y": 1580,
        "wires": [
            [
                "cffd797223a49fe6"
            ]
        ]
    },
    {
        "id": "647169e4be82f864",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "2",
        "x": 810,
        "y": 1640,
        "wires": []
    },
    {
        "id": "2e1b6bdb35e56ea1",
        "type": "inject",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24.5",
        "payloadType": "str",
        "x": 310,
        "y": 1640,
        "wires": [
            [
                "647169e4be82f864"
            ]
        ]
    },
    {
        "id": "e64d510e24fada8e",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "4",
        "x": 810,
        "y": 1760,
        "wires": []
    },
    {
        "id": "1e47b291988f31d6",
        "type": "inject",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "str",
        "x": 330,
        "y": 1760,
        "wires": [
            [
                "e64d510e24fada8e"
            ]
        ]
    },
    {
        "id": "799aeb1b177815fe",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "3",
        "x": 790,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b55120bed25fb8a3",
        "type": "inject",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24.5",
        "payloadType": "str",
        "x": 310,
        "y": 1700,
        "wires": [
            [
                "799aeb1b177815fe"
            ]
        ]
    },
    {
        "id": "fa28a421f739dc12",
        "type": "ThingspeakSendSimple",
        "z": "8cf5e70e77b84c28",
        "name": "ThingSpeak Dashboard",
        "writekey": "LMEVSUXAY8AYZQQU",
        "fieldid": "5",
        "x": 810,
        "y": 1840,
        "wires": []
    },
    {
        "id": "10424e44458cd7ba",
        "type": "inject",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "str",
        "x": 330,
        "y": 1840,
        "wires": [
            [
                "fa28a421f739dc12"
            ]
        ]
    },
    {
        "id": "2db4e6a5bdbb6142",
        "type": "mqtt in",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "72fd3908a8f7b9a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 900,
        "wires": [
            [
                "db45c7a47863d861"
            ]
        ]
    },
    {
        "id": "db45c7a47863d861",
        "type": "json",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 900,
        "wires": [
            [
                "5506462f734ddabe",
                "d68a4629aeb69d05"
            ]
        ]
    },
    {
        "id": "5506462f734ddabe",
        "type": "function",
        "z": "8cf5e70e77b84c28",
        "name": "function 4",
        "func": "let raw = msg.payload;\nlet data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\nreturn [\n  { payload: \"Fan: \" + data.fan },\n  { payload: \"Window: \" + data.window }\n];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 900,
        "wires": [
            [
                "ce3a59d72943f629",
                "e824fabba956cfc4"
            ],
            [
                "cdcf60ede762a997",
                "1edc0595e5c46876"
            ]
        ]
    },
    {
        "id": "ce3a59d72943f629",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Fan Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 820,
        "wires": []
    },
    {
        "id": "e824fabba956cfc4",
        "type": "ui_text",
        "z": "8cf5e70e77b84c28",
        "group": "f1339d55e939fc06",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Fan Status",
        "label": "Fan Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 860,
        "wires": []
    },
    {
        "id": "cdcf60ede762a997",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Window Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1edc0595e5c46876",
        "type": "ui_text",
        "z": "8cf5e70e77b84c28",
        "group": "9aa7332b30c42642",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Window Status",
        "label": "Window Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d68a4629aeb69d05",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Fan 2 Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "fdf7aee99e770ffa",
        "type": "ui_button",
        "z": "8cf5e70e77b84c28",
        "name": "Change to AutoMode",
        "group": "ebc5941767375ad2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Change to AutoMode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "AUTO",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 1060,
        "wires": [
            [
                "a66edb23f50d51d6"
            ]
        ]
    },
    {
        "id": "a66edb23f50d51d6",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 510,
        "y": 1060,
        "wires": []
    },
    {
        "id": "683faff7571c2d87",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Debug Mode",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 780,
        "wires": []
    },
    {
        "id": "dbcb3c1f3a20e7cf",
        "type": "ui_button",
        "z": "8cf5e70e77b84c28",
        "name": "Change to AutoMode",
        "group": "ebc5941767375ad2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Change to ManualMode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "MANUAL",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 1140,
        "wires": [
            [
                "7eb1d5d8b7150f19"
            ]
        ]
    },
    {
        "id": "7eb1d5d8b7150f19",
        "type": "mqtt out",
        "z": "8cf5e70e77b84c28",
        "name": "",
        "topic": "home/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72fd3908a8f7b9a1",
        "x": 510,
        "y": 1140,
        "wires": []
    },
    {
        "id": "22c50927f980ae99",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Debug AutoFan",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "6a8a7f92743f7577",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Debug AutoWindow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "1798aefe51944e4e",
        "type": "debug",
        "z": "8cf5e70e77b84c28",
        "name": "Debug AutoLight",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "72fd3908a8f7b9a1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e142ca423cd8648",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "2d08d9e9cd22be4f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1ed744e3dbaee2f",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "2d08d9e9cd22be4f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "214e0d944e18580f",
        "type": "ui_group",
        "name": "Light",
        "tab": "2d08d9e9cd22be4f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fdbd48cf33a7514",
        "type": "ui_group",
        "name": "Motion",
        "tab": "2d08d9e9cd22be4f",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f7c7b5555609c75",
        "type": "ui_group",
        "name": "LED",
        "tab": "2d08d9e9cd22be4f",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9aa7332b30c42642",
        "type": "ui_group",
        "name": "Window",
        "tab": "2d08d9e9cd22be4f",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1339d55e939fc06",
        "type": "ui_group",
        "name": "Fan",
        "tab": "2d08d9e9cd22be4f",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebc5941767375ad2",
        "type": "ui_group",
        "name": "Debug Project",
        "tab": "2d08d9e9cd22be4f",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d08d9e9cd22be4f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]